{% extends "base.html" %}

{% block title %}Address Result{% endblock %}

{% block content %}

<div class="page__container container">
    <div class="grid grid--spaced">
        <div class="grid__col col-12@m">
            <h1 class="jupiter">Search for an address</h1>
        </div>


            <form action="" method="post" novalidate>

                {{ form.hidden_tag() }}
                <fieldset class="searchfield venus">
                    <div class="grid__col col-12@m">
                        <div class="field">
                            <label class="label venus " for="address">
                                Enter address
                            </label>
                            {{ form.address(class_='input input--text', placeholder='For example, 16 James Street Swindon SN1 3HE', value=searchterm) }}
                        </div>
                    </div>

                    <div class="grid__col col-6@m">
                        <div class="field">
                            <label class="label venus " for="classificationFilter">
                                {{ form.classificationFilter.label }}
                            </label>
                            {{ form.classificationFilter(class_='input input--text', placeholder='For example residential, commercial, RD06', value=addressResults.response.filter) }}
                        </div>
                    </div>

                    <div class="grid__col col-6@m">
                        <div class="field">
                            <label class="label venus " for="resultsPerPage">
                                {{ form.resultsPerPage.label }}
                            </label>
                            {{ form.resultsPerPage(class_='input input--text', value=addressResults.response.limit) }}
                        </div>
                    </div>

                    <div class="grid__col col-6@m">

                        <div class="field field--radio field--multiplechoice">
                            <fieldset>
                                <legend class="field__legend mars ">{{ form.historical.label }}</legend>
                                {% if addressResults.response.historical == True: %}
                                    <div class="field__item js-focusable-box">
                                        <input class="input input--radio js-focusable" name="historical" value="true" id="yes" type="radio" checked>
                                        <label class="label label--inline venus " for="yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="field__item js-focusable-box">
                                        <input class="input input--radio js-focusable" name="historical" value="false" id="no" type="radio">
                                        <label class="label label--inline venus " for="no">
                                            No
                                        </label>
                                    </div>
                                {% else: %}
                                    <div class="field__item js-focusable-box">
                                        <input class="input input--radio js-focusable" name="historical" value="true" id="yes" type="radio">
                                        <label class="label label--inline venus " for="yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="field__item js-focusable-box">
                                        <input class="input input--radio js-focusable" name="historical" value="false" id="no" type="radio" checked>
                                        <label class="label label--inline venus " for="no">
                                            No
                                        </label>
                                    </div>
                                {% endif %}
                            </fieldset>
                        </div>

                    </div>

                    <div class="grid__col col-12@m">
                        {{ form.submit(class_='btn') }}
                    </div>

                </fieldset>


            </form>

        <div class="grid__col col-12@m">
            {% if addressResults.response.total == 1: %}
            <h2 class="saturn">We have matched {{ addressResults.response.total }} address</h2>
            {% elif addressResults.response.total == addressResults.response.sampleSize %}
            <h2 class="saturn">We have matched at least {{ addressResults.response.total }} addresses</h2>
            {% else: %}
            <h2 class="saturn">We have matched {{ addressResults.response.total }} addresses</h2>
            {% endif %}
        </div>

    </div>



    <div class="grid">

                    {% for singleResult in addressResults.response.addresses %}
                    <div class="grid__col col-12@m">
                        <div class="summary">
                            <h2 class="summary__title neptune" id=""><a class="result-short-form-link" href="{{ url_for('search_bp.result', uprn = singleResult.uprn) }}">{{ singleResult.formattedAddressNag }}</a></h2>
                            <div class="summary__block">
                                <div class="summary__item summary__item--multiple">
                                    <div class="grid">
                                        <div class="grid__col col-6@m">
                                            <div class="summary__label mars">UPRN</div>
                                        </div>
                                        <div class="grid__col col-6@m">
                                            <div class="summary__answer venus">{{ singleResult.uprn }}</div>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid__col col-6@m">
                                            <div class="summary__label mars">Classification</div>
                                        </div>
                                        <div class="grid__col col-6@m">
                                            <div class="summary__answer venus">

                                                {% for classification in classList.classifications %}
                                                    {% if classification.code == singleResult.classificationCode %}
                                                        {{ classification.label }}
                                                    {% endif %}
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid__col col-6@m">
                                            <div class="summary__label mars">Local Authority</div>
                                        </div>
                                        <div class="grid__col col-6@m">
                                            <div class="summary__answer venus">{{ singleResult.nag.0.localCustodianName }}</div>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid__col col-6@m">
                                            <div class="summary__label mars">Score</div>
                                        </div>
                                        <div class="grid__col col-6@m">
                                            <div class="summary__answer venus">{{ round(singleResult.confidenceScore * 100) }}%</div>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid__col col-12@m">
                                            <div class="summary__label mars">
                                                {% if singleResult.geo.isEmpty %}

                                                {% if singleResult.nag.isEmpty %}

                                                <span class="map-link-txt">
                                                    <a href="https://maps.google.com/?q=@address.paf.map { paf =>50.855,-1.18@paf.buildingNumber&ll=50.855,-1.18@paf.buildingNumber&z=20&t=h }" target="_blank">Location map</a>
                                                </span>

                                                {% else %}

                                                <span class="map-link-txt">
                                                    <a href="https://maps.google.com/?q=50.855,-1.187&ll=50.855,-1.187&z=20&t=h" target="_blank">Location map</a>
                                                </span>

                                                {% endif %}

                                                {% else %}

                                                <span class="map-link-txt">
                                                    <a href="https://maps.google.com/?q={{ singleResult.geo.latitude }},{{ singleResult.geo.longitude }}&ll={{ singleResult.geo.latitude }},{{ singleResult.geo.longitude }}&z=20&t=h" target="_blank">Location map</a>
                                                </span>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

        {% if addressResults.response.total > 0  and maxPage > 1 %}

            {% include '_paging.html' %}

        {% endif %}

    </div>
</div>

{% endblock %}

