{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link rel="shortcut icon" href='/assets/images/favicon.ico' type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--link rel="stylesheet" media="screen, print" href="{{ url_for('static', filename='css/styles.css') }}"-->

    <link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/v1.5.0/css/responsive.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdn.ons.gov.uk/sdc/v1.5.0/scripts/bundle.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:regular,bold&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" type="image/png" href='/assets/images/favicon.ico' />
</head>
<body>
<script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
            function setFocus (elem) {
            document.getElementById(elem).focus();
            }

    $(function () {

        $('.mailto').click(function() {
            var timeout;

            $(window).blur(function() {
                // The browser apparently responded, so stop the timeout.
                clearTimeout(timeout);
            });

            timeout = setTimeout(function() {
                // The browser did not respond after 500ms.
                alert("Your default e-mail client is not set up, please refer to the Help page for the instructions or directly send an e-mail to ai.users@ons.gov.uk with url, input and the description of the problem")
            }, 500);

        });

    });




    </script>

{% block header %}

    <header class="header header--internal">
        <div class="header__top" role="banner">
            <div class="container">
                <div class="grid grid--gutterless">
                    <div class="grid__col col-6@s">
                        {% if current_user.is_authenticated == True %}
                        <div class="logo">
                            <img src="{{ url_for('static', filename='img/ons-logo-black-en.svg') }}" alt="Office for National Statistics logo" class="logo__img header__logo--print">
                            <a href="{{ url_for('search_bp.address_search') }}">
                                <img src="{{ url_for('static', filename='img/ons-logo-white.svg') }}" alt="Office for National Statistics logo" class="logo__img header__logo print__hidden">
                            </a>
                        </div>
                        {% else %}
                        <div class="logo">
                            <img src="{{ url_for('static', filename='img/ons-logo-black-en.svg') }}" alt="Office for National Statistics logo" class="logo__img header__logo--print">
                            <a href="{{ url_for('authentication_bp.login') }}">
                                <img src="{{ url_for('static', filename='img/ons-logo-white.svg') }}" alt="Office for National Statistics logo" class="logo__img header__logo print__hidden">
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="grid__col col-6@s">
                        <nav class="nav nav--horizontal nav--light u-d-no--@xs@s u-fr" aria-label="Site services menu">
                            <ul class="nav__list" role="menubar" aria-label="Site services menu">
                                <li class="nav__item" role="menuitem"><a href="{{ url_for('information_bp.help') }}" class="nav__link">Help</a></li>
                                <li class="nav__item" role="menuitem"><a href="http://address-index-developers.apps.devtest.onsclofo.uk/" class="nav__link">Developers</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main header__main--border">
            <div class="container">
                <div class="grid grid--gutterless grid--align-mid u-cf">
                    <div class="grid__col col-10@xs col-6@s col-8@m">
                        <h1 class="header__title header__title--nav-adj">Address Index</h1>
                        <p class="header__desc">The most accurate geographic dataset of addresses and properties in the UK</p>
                    </div>
                    {% if current_user.is_authenticated == True %}
                    <button class="btn btn--mobile js-nav-btn u-fr u-d-no--@s" type="button" id="menu-btn" aria-expanded="false" aria-controls="main-nav" aria-label="Toggle main navigation" aria-haspopup="true"><span class="btn--mobile__label"></span></button>
                    <div class="u-fr u-d-no--@xs@s">
                        <button class="btn btn--ghost print__hidden">Log out</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="header__nav">
            <div class="container">
                <nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu" id="main-nav">
                    <ul class="nav__list" aria-label="Navigation menu" role="menubar">
                        {{ nav_link('search_bp.address_search', 'Search for an Address') }}
                        {{ nav_link('search_bp.postcode_search', 'Search for a Postcode') }}
                        {{ nav_link('search_bp.uprn_search', 'Search for a UPRN') }}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

{% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <div class="container">
                <div class="grid grid--spaced">

                    <div class="grid__col col-12@m">

                    <div class="panel panel--error">
                        <div class="panel__header">
                            <div class="venus">Error</div>
                        </div>
                        <div class="panel__body">
                            <p class="mars">An issue has occured.</p>
                            <ul class="list list--bare">
                                {% for message in messages %}
                                    <li class="list__item mars">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    </div>
                </div>
            </div>

        {% endif %}
    {% endwith %}

{% block content %}

<div class="container">
    <div class="wrapper">
        <div class="group">
            <div class="col-12">
                <h1 class="jupiter">Search for an address</h1>
            </div>
        </div>
        <div class="group">
            <div class="col-6">
                <section class="infobox-standard mars">
                    <p>To get started, enter an address or postcode. Provide as much of the address as possible for best results.</p>
                </section>
            </div>
        </div>

        <section class="searchbox-initial">


            <form action="/addresses/search" method="POST" >

                <div id="search-form" class="search-bar-active">


                    <fieldset class="searchfield venus">
                        <div class="group">

                            <div class="col-6">
                                <div class="searchfield-searchinput">










                                    <dl class=" " id="numberOrName">

                                        <dt><label for="address"></label></dt>

                                        <dd>
                                            <input type="text" id="address" name="address" value="" class="form-control mars" placeholder="E.g. 16 James Street Swindon SN1 3HE"/>
                                        </dd>


                                    </dl>



                                </div>

                                <input type="submit" id="submit" class="neptune" value='Search' />

                            </div>


                        </div>


                    </fieldset>


                </div>

            </form>

        </section>

    </div>
</div>

{% endblock %}


{% block footer %}

    <footer class="footer" role="contentinfo">
        <div class="container">
            <div class="grid">
                <div class="grid__col col-12@m pluto">
                    <p>This release is still in development. Your <a class="mailto" href="mailto:ai.users@ons.gov.uk?subject=Feedback%20on%20Address%20Index">Feedback</a> will help us improve it.</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}


</body>
</html>
